/*@group fonts*/
@font-face {
    font-family: 'Brown';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Brown-Regular.eot');
    src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Regular.woff2') format('woff2'),
    url('../fonts/Brown-Regular.woff') format('woff'),
    url('../fonts/Brown-Regular.ttf') format('truetype'),
    url('../fonts/Brown-Regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Brown-Bold.eot');
  src: url('../fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Brown-Bold.woff2') format('woff2'),
       url('../fonts/Brown-Bold.woff') format('woff'),
       url('../fonts/Brown-Bold.ttf')  format('truetype'),
       url('../fonts/Brown-Bold.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Brown';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Brown-Light.eot');
    src: url('../fonts/Brown-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Light.woff2') format('woff2'),
    url('../fonts/Brown-Light.woff') format('woff'),
    url('../fonts/Brown-Light.ttf') format('truetype'),
    url('../fonts/Brown-Light.svg#svgFontName') format('svg');
}

/*@end fonts*/

/*@group GLOBAL*/
body {
    background-color: #f5f7f7;
    color: #FF0844;
    font-family: 'Brown', Helvetica Neue, Helvetica, sans-serif;
}

/*@end GLOBAL*/

/*@group LANDING*/
.section-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /*padding: 0 21.25em;*/
    background-image: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
}

.section-landing .svg-landing {
    width: 50%;
    height: auto;
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

/*@end LANDING*/

/* @group INTRO */
.section-intro {
    min-height: 100vh;
    display: flex;
    padding: 5.6em;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFF7F5;
}

.section-intro .section-intro-inner {
}

.section-intro .section-intro-text {
    font-size: 1.125em;
    line-height: 138%;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.section-intro .categories-container {
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.section-intro .categories-container .category {
    position: relative;
    list-style-type: none;
    width: calc(100% / 5);
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

.section-intro .categories-container .category .category-icon {
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 1rem;
}

.section-intro .categories-container .category .category-icon .icon {
    max-height: 50px;
    max-width: 50px;
}

  .section-intro .categories-container .category .category-icon.category-icon--interactive .icon {
    max-width: 40px;
  }

.section-intro .categories-container .category .category-name {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

@media (max-width: 500px) {
    .section-intro {
        padding: 4rem 0;
    }

    .section-intro .categories-container {
      display: block;
    }

    .section-intro .categories-container .category {
        width: 100%;
        display: block;
        margin: 2rem auto 0;
    }

    .section-intro .categories-container .category:first-child {
        margin-top: 0;
    }
}

/* @end INTRO */

/*@group TIMELINE*/
.section-timeline {
    display: flex;
    padding: 5.6em 5.6%;
}

.section-timeline .timeline-container-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

    .section-timeline .timeline-container-month::before {
        content: '';
        position: absolute;
        width: 1px;
        top: 0;
        left: 50%;
        bottom: 0;
        transform-origin: 50% 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    }

    .section-timeline .timeline-container .month-title {
        text-align: center;
        margin-bottom: 5.5em;
        z-index: 1;
    }

    .section-timeline .timeline-container .month-title h1{
        display: inline-block;
        padding: 10px 20px;
        font-family: 'Brown', Helvetica Neue, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.55em;
        line-height: 1.55em;
        text-transform: lowercase;
        color: #ffffff;
        background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);

    }

.timeline-container-month .timeline-article {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 5.5em;
}

.timeline-container-month .timeline-article:last-child {
    /*margin: 0;*/
}

.timeline-article .article-date {
    position: absolute;
    top: 45px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-family: 'Brown', Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.45em;
    line-height: 1.45em;
    border: 1px solid #FF0844;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translateX(-50%);
}

.timeline-article.article-left .article-date {
    border-color: #FFB199;
    color: #FFB199;
}

.timeline-article .article-date span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
}

.timeline-article .article-date sup {
    font-size: 0.75em;
}

.timeline-article .article-img-container,
.timeline-article .article-content {
    width: calc(50% - 4.4em);
}

.timeline-article.article-left .article-content {
    order: 1;
}

.timeline-article.article-left .article-img-container {
    order: 2;
}

.timeline-article .article-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Brown', Helvetica Neue, Helvetica, sans-serif;
}

.timeline-article.article-left .article-content {
    flex-direction: row-reverse;
}

.timeline-article .article-content main {
    width: 70%;
}

.timeline-article .article-content aside {
    display: flex;
    align-items: center;
    width: 25%;
}

.timeline-article .article-content .article-header {

}

.timeline-article .article-content .article-header svg {
    width: 45px;
    height: 45px;
}

  .timeline-article .article-content .article-header svg.connected {
    margin-left: -8px;
  }

.timeline-article .article-content .article-header h2{
    max-width: 70%;
    /*max-height: 2.7em;*/
    margin: 15px 0;
    font-weight: 700;
    font-size: 1.45em;
    line-height: 1.35em;
    /*overflow: hidden;*/
}


.timeline-article.article-left .article-content .article-header {
    color: #FFB199;
}

.timeline-article .article-content .article-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.timeline-article.article-left .article-content .article-body {
    flex-direction: row-reverse;
}

.timeline-article .article-content .article-body p {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    color: #4C4C4C;
}

.timeline-article .article-content footer .article-links {
    position: relative;
    font-weight: 400;
    font-size: .75em;
    color: #ff0844;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.timeline-article .article-content footer .article-links a {
    display: inline-block;
    color: #ff0844;
    text-decoration: none;
    padding: 0 2px;
    transition: color 0.6s cubic-bezier(0.42, 0, 0, 1.15) 0.1s;
}

.timeline-article .article-content footer .article-links a::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 140%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg) scaleY(0.2);
    transition: transform 0.6s cubic-bezier(0.42, 0, 0, 1.15);
    transform-origin: top center;
    -webkit-backface-visibility: hidden;
    z-index: -1;
    background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);;
}

  .timeline-article .article-content footer .article-links:hover a {
    color: #f5f7f7;
  }

  .timeline-article .article-content footer .article-links:hover a::after {
    transform: rotate(180deg) scaleY(1.9) scaleX(1.1);
  }

.timeline-article .article-img-container {
    text-align: right;
}

.timeline-article.article-left .article-img-container {
    text-align: left;
}

.timeline-article .article-img-container img {
    max-width: 450px;
    padding-top: 50px;
}

.timeline-article .articles-more .article-tags{
    font-weight: 300;
    font-size: 1.15em;
    line-height: 1.35em;
}

.timeline-article.article-left .articles-more {
    padding-right: 5%;
}

.timeline-article.article-right .articles-more {
    padding-left: 5%;
}

.timeline-article.article-left .articles-more .article-tags {
    color: #FFB199;
    padding-right: 10px;
    text-align: right;
    border-right: 1px solid #FFB199;
}

.timeline-article.article-right .articles-more .article-tags {
    padding-left: 10px;
    border-left: 1px solid #ff0844;
}

.timeline-article .articles-more .article-tags li {
    display: inline-block;
    margin-bottom: 3px;
}
/*@end TIMELINE*/